<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlut.traffic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0d8ce223a6cc527b1b2b6ff4ce23f69e" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadInfo"
            android:label="@string/title_activity_upload_info"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".UserInfo"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name=".UpdateInfo"
            android:label="@string/title_activity_update_info" >
        </activity>
        <activity
            android:name=".UserInfoView"
            android:label="@string/title_activity_user_info_view" >
        </activity>
        <activity
            android:name=".InfoDetail"
            android:label="@string/title_activity_user_info_view" >
        </activity>
    </application>

</manifest>
